main{
    text-align: center;
    margin-top: 130px;
}

.title{
    font-size: 60px;

}


#section-title{
    margin-top: 80px;
}


.widget{
    margin-top: 50px;
    margin-right: 10%;
}

.widget2{
    margin-top: 50px;
}

#demandTrendChart, #productCategoryChart, #complaintsWordCloud, #feedbackTrendsChart, #topSellingProductsChart, #salesByRegionChart,#returnRateChart {
    width: 100%;
    height: 400px;

    
}

.graphs-headings{
    font-size: 30px;
    text-decoration:solid underline;
}

